---
import { Icon } from "astro-icon";
let {item} = Astro.props
let {icon, image, text, link, classx} = {...item}
---

{icon && 
  <span>
      <Icon class={item.icon.color?item.icon.color:"text-blue-300"} size={item.icon.size?item.icon.size:"33"} name={item.icon.name} />
  </span>
}
{image &&
  <div class={`w-10 h-10 rounded-full overflow-hidden ${item.classx}`}>
      <img
        src={item.image.src}
        alt={item.image.alt}
      />
  </div>
}
{ text &&
  <p class={classx}>            
  {text}
}
</p>