---
import {basename} from 'path'
import Full from "@template/layouts/Full.astro"
import Card from '@template/components/Card/Card.astro'
import Grid from '@template/components/Grid.astro'
import Banner from '@template/components/Banner.astro'
import Pagination from '@template/components/Pagination/Pagination.astro'
import Logo from '@template/components/Logo.astro'
import SiteData from "@src/utils.js"

export async function getStaticPaths({paginate}) {
  let posts = await Astro.glob('../../../data/posts/*.md')
  return paginate(posts, {pageSize: 3});
}

let site = await SiteData('../data')

let title = "Blog"
const meta = {
    title: title,
    navbar: site.navbar,
    description: 'Start your next Astro project with a real world theme built by our amazing community.'
};

// , href:`/${basename(file, '.md')}`}

const {page} = Astro.props;
let cards = page.data.map(({frontmatter, file}) => 
{
  return {
      date: frontmatter.date,
      heading: frontmatter.title,
      authors: frontmatter.authors,
      text: frontmatter.description,
      href: `/${basename(file, '.md')}`,
      tags: frontmatter.tags,
      comments: frontmatter.comments,
      views: frontmatter.views,
      image: {
        src: frontmatter.image,
        alt: frontmatter.title
      }
  }
})
---
  
<Full meta={meta} baseHref="/blog">
    <Fragment slot="logo">
      <Logo logo={site.logo} />
    </Fragment>
    <Banner {title} slot="primary" />

    <Fragment slot="info">
      <h1 class="h1">{meta.title}</h1>
      <p class="lq cw">{meta.description}</p>
    </Fragment>

    <Fragment slot="content">
        <Grid>
          <Fragment slot="content">
            {cards.map(card => 
              <div class="w-full md:w-1/2 lg:w-1/3 px-4">
              <Card {card}/>
              </div>
            )}
          </Fragment>
        </Grid>
    </Fragment>

    <Fragment slot="pagination">
      <Pagination {page}/>
    </Fragment>
</Full>