---
import { Icon } from 'astro-icon'
import Link from '../Link/index.astro'
import Item from "../Item/index.astro"
import defaultData from "./infobox.json"
let {infobox} = Astro.props
if(!infobox){
  infobox = defaultData
}
let {classx, items} = {...infobox}
---

<div
  class={`
    absolute
    w-full
    h-full
    top-0
    left-0
    flex
    items-end
    z-10
    bg-gradient-to-t
    from-dark-700
    to-transparent
    ${classx}
  `}
>
  <div class="flex flex-wrap items-center">
    { items.map(item =>
      <Link href={item.href}>
        <Fragment slot="content">
        <div class={`flex items-center space-x-2 px-5 ${item.classx}`}>
            <Item {item} />
        </div>
        </Fragment>
      </Link>
    )}
  </div>
</div>
