---
import Full from "./Full.astro";
import ImageBox from "../components/ImageBox/ImageBox.astro";
import InfoBox from "../components/InfoBox/InfoBox.astro";
import SummaryGrid from "../components/SummaryGrid/SummaryGrid.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";
import Article from "../components/Article/Article.astro";
import TagStrip from "../components/TagStrip/TagStrip.astro";
import Share from "../components/Share/Share.astro";
import parser from "./parser.js"

let {meta, post} = Astro.props
let {imagebox, infobox, tagstrip, share} = parser(post)
---

<Full {meta}>
  <ImageBox {imagebox} slot="primary">
  <div class="container absolute bottom-36" slot="center">
      <div class="text-center w-4/5">
        <h1 class="font-semibold text-white text-6xl">{post.title}</h1>
      </div>
      <div class=" flex justify-between items-center w-full">
        <TagStrip {tagstrip}/>
          <Share {share}/>
      </div>      
  </div>
    <InfoBox {infobox} slot="bottom"/>
  </ImageBox>

  <section class="pt-[40px] pb-10 lg:pb-10" slot="content">
    <div class="container">
      <div class="flex flex-wrap justify-center -mx-4">
        <div class="w-full px-4">
          <div class="flex flex-wrap -mx-4 space-y-4">  
            <div class="w-full lg:w-8/12 px-4 space-y-8">
              <Article title={post.title} slot="content" class="prose lg:prose-xl">
                <Fragment slot="content">
                  <slot name="content" />
                </Fragment>
              </Article>
              <div class="flex justify-between items-center w-full">
                <TagStrip {tagstrip}/>
                  <Share {share}/>
              </div>
            </div>
            <Sidebar />
          </div>
        </div>
      </div>
      <SummaryGrid />
    </div>
  </section>  
</Full>
